body {
    font-family: Arial, sans-serif;
}

header {
    background: #282c34;
    padding: 1rem;
    color: white;
}

header a {
    margin: 0 1rem;
    color: white;
    text-decoration: none;
}

.notification {
    padding: 1rem;
    margin-top: 1rem;
}

.notification.success {
    background-color: green;
    color: white;
}

.notification.error {
    background-color: red;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    padding: 1rem;
    border: 1px solid #ddd;
}
